############################
# Node
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Environment Variables
############################
.env
.env.*

############################
# Logs
############################
logs/
*.log

############################
# Build Folders
############################
dist/
build/
out/

############################
# Angular
############################
client/node_modules/
client/dist/

############################
# Server
############################
server/node_modules/

############################
# IDE - VS Code
############################
.vscode/

############################
# IDE - IntelliJ
############################
.idea/
*.iml

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# Docker
############################
docker-compose.override.yml

############################
# Coverage
############################
coverage/

############################
# Temporary
############################
tmp/
temp/